.hero-text {
  padding: 1rem 0.5rem;
  text-align: center;
  color: #d9d7d7;
  margin-left: auto;
  margin-right: auto;
  font-style: italic;
}

.main-content {
  margin: 0 -20px;
  padding: 40px 20px 40px 20px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  margin-bottom: 2rem;

  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(9px);
  backdrop-filter: blur(9px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}
